# audiodeliv - Variables obligatoires
PORT=3000
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
JWT_SECRET=ton_secret_jwt_32_caracteres_mini

# Optionnel
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_WALLET_PUBKEY=
RESEND_API_KEY=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=audiodeliv-mp3
R2_ENDPOINT=

